body {
  background-image: url('/assets/images/BG-home1.jpg');
}

.navbar-in {
  box-shadow: unset !important;
  z-index: 99;
  --mdb-bg-opacity: 0;
  top: 58px;
}

.navbar-in ul {
  font-weight: bolder;
  font-size: 24px;
}

.top-one {
  border-bottom: unset !important;
  z-index: 99;
  --mdb-bg-opacity: 0;
}

.carousel-first {
  height: 100%;
  width: 30%;
  top: 200px;
  left: 520px;
  z-index: 0;
  position: absolute;
}

.carousel-first .explore-first {
  color: black !important;
  font-size: 40px;
}

.carousel-first .new-arrival {
  color: black;
  font-size: 60px;
}

.carousel-first .flowers {
  font-size: 14px;
  padding: 0 30px;
  color: black;
}

.carousel-first .shop-now {
  padding: 5px 15px;
  background-color: black;
  color: white;
  margin-top: 10px;
  display: inline-block;
}

.carousel-second {
  height: 100%;
  width: 100%;
  top: 300px;
  margin-left: auto;
  z-index: 0;
  position: absolute;
}

.carousel-second .perfect {
  color: black;
  font-size: 70px;
  font-family: 'Arial Black';
  font-weight: 400;
}

.carousel-second .bouquet {
  color: black;
  justify-content: left;
}

.carousel-second .flowers-bouquet {
  font-size: 14px;
  padding: 16px 290px 16px 0;
  color: gray;
  width: 800px;
  margin-left: 500px;
}

.carousel-second .shop-bouquet {
  padding: 5px 15px;
  background-color: black;
  color: white;
  margin-top: 10px;
  display: inline-block;
}

.carousel-three {
  height: 100%;
  width: 30%;
  top: 200px;
  left: 520px;
  z-index: 0;
  position: absolute;
}

.carousel-three .text-explore {
  color: black !important;
  font-size: 40px;
}

.carousel-three .arrivals {
  color: black;
  font-size: 60px;
}

.carousel-three .long-text {
  font-size: 14px;
  padding: 0 30px;
  color: black;
}

.carousel-three .shop {
  padding: 5px 15px;
  background-color: black;
  color: white;
  margin-top: 10px;
  display: inline-block;
}

.carousel-images {
  height: 100%;
  width: 100%;
  top: 300px;
  margin-left: auto;
  z-index: 0;
  position: absolute;
}

.carousel-images .perfect-list {
  color: black;
  font-size: 70px;
  font-family: 'Arial Black';
  font-weight: 400;
}

.carousel-images .bouquet-4 {
  color: black;
  justify-content: left;
}

.carousel-images .text-longs {
  font-size: 14px;
  padding: 16px 290px 16px 0;
  color: gray;
  width: 800px;
  margin-left: 500px;
}

.carousel-images .shop-shop {
  padding: 5px 15px;
  background-color: black;
  color: white;
  margin-top: 10px;
  display: inline-block;
}

.who {
  position: relative;
}

.who .simple-who {
  width: 100%;
}

.who .texts-who {
  font-family: 'Abril Fatface';
  color: #ccd8dd;
  font-weight: 800;
  font-size: 165px;
  opacity: 1;
  display: flex;
  justify-content: center;
  text-align: center;
  position: absolute;
  top: 352px;
}

.who .due-text {
  display: block;
  position: absolute;
  font-family: 'Abril Fatface';
  font-weight: 800;
  color: black;
  top: 431px;
}

.who .text-p {
  margin-top: -567px;
  justify-content: center;
  text-align: center;
}

.medias .medias-images .images-names {
  width: 100%;
  border-radius: 50%;
  margin-top: -500px;
}

.medias .name-body .founder {
  font-size: 14px;
  margin-top: -197px;
  text-align: center;
  justify-content: center;
}


.bg-image .by {
  color: black;
  font-weight: 600;
  font-family: 'Abril Fatface';
  font-size: 70px;
  padding: 0 0 50px 0;
}

.bg-image .rows .summer {
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 500px;
  position: absolute;
}

.bg-image .rows .sale {
  top: 550px;
  position: absolute;
  color: black;
  font-weight: 600;
  font-size: 100px;
  font-family: 'Abril Fatface';
  text-align: center;
  justify-content: center;
}

.bg-image .rows .shop-3 {
  position: absolute;
  top: 700px;
  background-color: black;
  padding: 5px 20px;
}

.bg-image .ross .pp {
  text-align: center;
  justify-content: center;
  position: absolute;
}

.bg-image .ross .star {
  padding-top: 45px;
}

.bg-image .ross .star .checked {
  color: orange;
}

.bg-image .ross .price {
  padding-top: 110px;
  text-align: center;
  justify-content: center;
  position: absolute;
}

.bg-image .ross .test {
  color: black;
  font-weight: 600;
  font-family: Poppins;
  font-size: 20px;
}

.bg-image .ss {
  padding-top: 50px;
}

.bg.bg-image .ss .sss {
  margin-top: 5px;
}

.bg-image .ss .textssss {
  text-align: center;
  justify-content: center;
  position: absolute;
}

.bg-image .ss .star {
  padding-top: 45px
}

.bg-image .ss .checked {
  color: orange;
}

.bg-image .ss .price {
  padding-top: 110px;
  text-align: center;
  justify-content: center;
  position: absolute;
}

.bg-image .ss .p-text {
  color: black;
  font-weight: 600;
  font-family: Poppins;
  font-size: 20px;
}

.weeding .weeding-title {
  position: absolute;
  background-size: cover;
  left: 678px;
  font-family: 'Abril Fatface';
  color: black;
  font-weight: 600;
  font-size: 70px;
}

.weeding .weeding-body {
  padding-top: 90px;
  padding-left: 200px;
  font-size: 16px;
  color: black;
  font-weight: 600;
}

.weeding .weeding-background {
  background-image: url('/assets/images/wedding.png');
  background-size: cover;
  height: 100vh;
}

.weeding .weeding-container .container-image {
  height: 100%;
  align-items: center;
  margin-left: -15px;
  margin-right: -15px;
}

.weeding .product-container {
  margin-top: 100px;
}

.weeding .image-body {
  max-width: 100%;
  display: block;
  height: auto;
  margin-top: 139px;
}

.weeding .p-class {
  text-align: center;
  justify-content: center;
  position: absolute;
  font-weight: 600;
}

.weeding .star {
  padding-top: 45px;
}

.weeding .star .checked {
  color: orange;
}

.weeding .price {
  padding-top: 110px;
  text-align: center;
  justify-content: center;
  position: absolute;
}

.weeding .price .p-price {
  color: black;
  font-weight: 600;
  font-family: Poppins;
  font-size: 20px;
}

.images-container .product-flower {
  padding-bottom: 20px;
  padding-top: 50px;
}

.shop-by {
  margin-top: 170px
}

.shop-by p {

}

.product-text .text-dark {
  text-align: center;
  justify-content: center;
  position: absolute;
}

.star {
  padding-top: 45px;
}

.star span {
  color: orange;
}

.price {
  padding-top: 110px;
  text-align: center;
  justify-content: center;
  position: absolute;
}

.price p {
  color: black;
  font-weight: 600;
  font-family: Poppins;
  font-size: 20px;
}

.products img {
  max-width: 100%;
  margin-top: 32px;
}

.hello-summer {
  padding-top: 50px;
}

.hello-summer p {
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 600px;
  position: absolute;
}

.hello-summer h1 {
  top: 650px;
  position: absolute;
  color: black;
  font-weight: 600;
  font-size: 100px;
  font-family: 'Abril Fatface';
  text-align: center;
  justify-content: center
}

.hello-summer .shop-3 {
  position: absolute;
  top: 800px;
  background-color: black;
  padding: 5px 20px;
}

.mask .masks {
  font-family: Droid Sans;
  margin-left: 700px;
  margin-top: 40px;
}

.mask h1 {
  font-size: 70px;
  font-weight: bold;
}

.brand-image .brand {
  margin-top: 57px;
  width: 100%;
}

.blog-container .lates-blog {
  font-family: 'Arial Black';
  margin-left: 620px;
  margin-top: 150px;
  font-size: 40px;
  font-weight: 400;
  color: black;
}

.blog-container .blog-body {
  font-size: 28px;
  margin-left: 480px;
  font-family: 'Droid Sans';
}

.blogs .blog-1 {
  margin-top: 54px
}

.time-blog .time {
  color: #808080;
  margin-left: 10px;
}

.blog-collection .calendar {
  font-family: Poppins;
  font-size: 18px;
}

.blog-collection .pipe {
  margin-left: 15px;
  color: #808080;
}

.blog-collection .times {
  margin-left: 30px;
  color: #808080;
}

.blog-collection .pixel-creative {
  font-family: Poppins;
  font-size: 18px;
}

.blog-collection .choose {
  font-weight: 800;
  font-size: 25px;
  font-family: 'Times New Roman';
  color: black;
}

.blog-collection .lorem-ipsum {
  font-size: 16px;
}

footer {
  margin-top: -50px;
  background-image: url('/assets/images/BG-footer.png');
  padding-top: 200px;
  background-repeat: no-repeat;
  width: 100%;
  background-position: -288px -335px;
  display: block;
  box-sizing: border-box;
}

@media (max-width: 360px) {

}

