@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  /*border: none;*/
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

.navbar {
  background-color: rgb(246, 241, 241, 0.8);
  border-bottom: 1px solid #a57d54;
  z-index: 9999;
}

.dropdown-content {
  z-index: 1;
}

.search-form {
  background: rgba(0, 0, 0, 0.85);
  z-index: 999;
  cursor: url("/public/assets/images/close_search.png"), auto;
  left: 0%;
  /*transition: all 0.7s;*/
}

.search-form.show {
  /*@apply translate-y-0 transition-all duration-75*/
  transform: translateY(0%);
  transition: all 0.7s;
}


.search-form.show .search-inner {
  transform: translateY(0);
  transition: all 2.5s ease;
}

.search-inner {
  transform: translateY(200%);
  transition: all 2.5s ease;
}

.search-close {
  border: 2px white solid;
}

.search-bar-input {
  padding: 12px 55px 12px 0;
  background: transparent;
  border-bottom: 2px solid white;
  color: white;
}

.search-button {
  color: white;
}

.pattern-images {
  left: 29rem;
}

.next {
  border-radius: 3px 0 3px;
}

.prev, .next {
  transition: 0.6s ease;
  border-radius: 0 3px 0;
}

.bullets {
  margin-left: 32rem;
}

.dot {
  border-radius: 50%;
  transition: backgroun-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fate {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.menu-cart {
  padding: 20px 10px 20px 30px;
  transition: all 0.5s ease 0s;
  transform: translateX(100%);
  left: auto;
  z-index: 99999;
}

.menu-cart.showChart {
  transform: translateX(0);
}

.menu-inner {
  z-index: 9;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  overflow-x: hidden !important;
}

.menu-head {
  -webkit-box-pack: center;
  -webkit-box-align: center;
  border-bottom: 2px #eee solid;
}

.scroll-bar {
  overflow-y: auto;
}


.product-area {
  max-height: calc(100% - (60px + 245px));
}

.mini-cart-product {
  border-top: 2px #f0f0f0 solid;
}

.mini-cart-product:first-child {
  border-top: 0;
}

.mini-img {
  outline: none;
  color: inherit;
}

.item-delete {
  background-color: none;
  transition: all 0.3s ease 0s;
}

.cart-sub-total {
  border-top: 2px #f0f0f0 solid;
  border-bottom: 2px #f0f0f0 solid;
  padding: 15px 0;
}

.chart-sub-total h5 {
  -webkit-box-pack: justify;
  -webkit-box-align: center;
}

.title-product {
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  line-height: 5rem;
}

.button-warp {
  -webkit-box-pack: justify;
  padding: 25px 0 15px;
}

.btn {
  transition: all 0.3s ease;
  z-index: 1;
}

.btn:last-child {
  margin-right: 0;
}

.cart-footer .button-warp .btn {
  padding: 10px 20px;
  font-size: 13px;
}

/*.theme-btn-1 {*/
/*  border: 2px #000000 solid;*/
/*}*/

.theme-btn-1:hover {
  border: 2px #000000 solid;
}

.theme-btn-2:hover {
  border: 2px #000000 solid;
}

.body-product {
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.blog-title {
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.card {
  width: 36%;
}

.calendar {
  width: 86%;
}

/*.apr {*/
/*  border-right: 1px solid gray;*/
/*}*/

.text-body {
  width: 92%;
}

.row-inner {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  margin-top: calc(0 * -1);
}

.row-cart {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
}

.table-inner {
  --bs-table-bg: transparent;
  --bs-table-accent-bg: transparent;
  --bs-table-striped-color: #212529;
  --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
  --bs-table-active-color: #212529;
  --bs-table-active-bg: rgba(0, 0, 0, 0.1);
  --bs-table-hover-color: #212529;
  --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
  border-color: #dee2e6;
  border-collapse: collapse;
}

.cart-minus-plus {
  border: 2px solid;
}

.cart-plus-minus-box {
  background: transparent none repeat scroll 0 0;
}

tr {
  border-bottom: 1px solid #dee2e6;
}

.input-coupon {
  border: 1px black solid;
}

.coupon-button {
  transition: all 0.3s ease;
  z-index: 1;
}

.button-update {
  z-index: 1;
  transition: all 0.3s ease;
  border: 1px black solid;
}

.coupon-button:hover {
  border: 1px black solid;
}

/*.sub-total{*/
/*  border: 2px #f0f0f0 solid;*/
/*  !*border-width: 1rem;*!*/
/*}*/

.sub-total tr {
  border-bottom: 1px black solid;
}

.btn:last-child {
  margin-right: 0;
}

.btn{
  transition: all 0.3s ease;
  z-index: 1;
}

.btn:hover {
  border: 1px black solid;
}

/*.table-inner :not(caption) > * > * {*/
/*  background-color: transparent;*/
/*  border-bottom-width: 1px;*/
/*  box-shadow: inset  0 0 0 9999px transparent;*/
/*}*/

.shoping-cart-inner tbody {
  border-bottom: 1px solid #dee2e6;
}


.logofooter {
  left: 34rem;
}

.button-submid {
  transition: all 0.3s ease;
}


@media (max-width: 950px) {
  body {
    font-size: 14px;
  }

  .navbar-nav {
    background-color: rgb(246, 241, 241, 0.8);
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav {
    transition: 0.3s;
    font-size: 2rem;
  }

  .text-body {
    font-size: 2rem;
  }

  .text-bodyCarousel {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}


/*#menu {*/
/*  display: none;*/
/*}*/



